@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */

/* Hides the spin buttons in number input fields */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
